/*======= 
CSS Reset 
=======*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
    padding: 0;
    margin: 0;
    border: 0;
}

/*=============== 
Global Typography
===============*/

*{
  font-family: Arial, Helvetica, sans-serif;
}
h4{
  padding: 10px 0;
}
.game-mid-box > p:first-of-type{
  margin-top: 60px;
}
.live-text{
  margin-top: 6px;
  font-size: 20pt;
  color: red;
}
main > ul{
  display: inline-block;
  vertical-align: top;
  font-size: 2em;
  margin-top: 20px;
  color: red;
  animation: liveBlink 1.5s;
  animation-iteration-count: infinite;
}
main > h1:first-of-type{
  color: red;
  display: inline-block;
  margin-top: 20px;
  margin-left: -15px;
  margin-right: 20px;
  font-weight: lighter;
}
main > p{
  text-align: left;
  border-top: 3px solid black;
}
main > p > a{
  color: #346595;
}
.team-box > h5{
  margin-top: 10px;
}
.team-box > p{
  margin: 20px 0;
}
.top-stories > h2{
  padding: 10px 0 15px 10%;
  border-bottom: 3px solid black;
}

/*================== 
Links & Link effects
==================*/

main > p > a{
  white-space: nowrap;
}
main > p > a:hover{
  color: red;
}
.navigation > li > a{
  color: white;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
.navigation > li > a:not(.nohover):hover{
  color: red;
}
.navigation > li > a:first-child{
  margin-left: 20px;
}
.top-stories > a{
  display: block;
  color: black;
  text-decoration: none;
  margin: 10px 0 0 10%;
}
.top-stories > a:last-child{
  padding-bottom: 10px;
}
.top-stories > a:hover{
  color: red;
}

/*============== 
inputs
==============*/

button{
  height: 40px;
  box-shadow: 3px 3px 2px black;
}
.subscribe-button{
  background-color: #ffe59a;
  width: 75%;
  margin: 20px 0 30px;
  font-size: 1.3em;
}.navigation button{
  height: 30px;
  width: 35px;
  vertical-align: top;
}
.navigation button > img{
  width: 20px;
}
.navigation input{
  vertical-align: top;
  height: 30px;
  padding-left: 5px;
}
.navigation input:focus{
  outline: none;
}
.subscribe > input{
  border: 2px solid gray;
  width: 70%;
  height: 30px;
  padding-left: 3%;
  margin-top: 20px;
  box-shadow: 3px 3px 2px rgb(0, 0, 0);
  border: 1px solid black;
}
.subscribe > input:focus{
  outline: none;
}

/*=============== 
Images & Video 
===============*/

img[src$="DSNN-Logo.png"]{
  width: 100px;
}
.team-box > img{
  width: 150px;
  border: 1px solid rgb(160, 160, 160);
}
iframe{
  display: block;
  margin: 0 auto;
}

/*============ 
containers 
============*/

aside{
  display: flex;
  margin-top: 20px;
}
main{
  background-color: white;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
footer{
  background-color: rgb(168, 168, 168);
  width: 100%;
  height: 25px;
  font-size: .8em;
  text-align: center;
  margin-top: auto;
  border-top: 1px solid gray;
}
.content{
  display: flex;
  justify-content: center;
}
.game-mid-box{
  width: 160px;
  padding-top: 30px;
}
.navigation{
  background-color: rgb(22, 22, 22);
  color: white;
  height: 40px;
  line-height: 40px;
  display: flex;
  list-style-type: none;
}
.score{
  margin-top: 5px;
}
.score-tracker{
  background-color: white;
  display: flex;
  min-height: 40px;
}
.sign-in{
  background-color: white;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}
.subscribe{
  background-color: white;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}
.team-box{
  width: 160px;
  margin-bottom: 30px;
}
.top-stories{
  background-color: white;
  width: 300px;
  height: 220px;
  border-radius: 10px;
}
.wrapper{
  background-color: #ddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 480px){

  /*====================== 
  small screen typography 
  ======================*/

  .main-sm > h1{
    display: none;
  }
  .game-text-sm{
    display: block;
    padding: 20px 35px 0 35px;
    height: 75px;
    overflow-y: scroll;
  }

  /*================== 
  small screen buttons 
  ==================*/

  .sign-in-button-sm{
    background-color: #2b77e4;
    width: 40%;
    color: white;
    margin-right: 10px;
    font-size: 1.3em;
  }
  .sign-up-button-sm{
    width: 40%;
    font-size: 1.3em;
  }

  /*================ 
  small screen movie 
  =================*/

  .iframe-sm{
    width: 100%;
  }

  /*============================ 
  display: none; on small screen 
  ============================*/

  .game-container-sm{
    display: none;
  }

  /*===================== 
  Small screen containers 
  =====================*/

  .aside-sm{
    width: 100%;
    order: 4;
    flex-direction: column;
    justify-content: flex-start;
  }
  .button-container-sm{
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0;
  }
  .content-sm{
    flex-direction: column;
  }
  .ft-sm{
    order: 5;
  }
  .main-sm{
    width: 100%;
    height: 420px;
    order: 2;
  }
  .navigation-sm{
    flex-direction: column;
    height: 300px;
    text-align: center;
    order: 0;
  }
  .score-tracker-sm{
    flex-direction: column;
    text-align: center;
    font-size: .8em;
    order: 3;
  }
  .search-box-with-button-sm{
    position: relative;
  }
  .sign-in-sm{
    align-self: center;
    margin: 20px 0;
  }
  .subscribe-sm{
    align-self: center;
    margin-bottom: 20px;
  }
  .top-stories-sm{
    align-self: center;
    height: auto;
  }
}



@media only screen and (min-width: 481px){

  /*====================== 
  medium screen inputs
  ======================*/

  .sign-in-button-md{
    background-color: #2b77e4;
    width: 40%;
    color: white;
    margin-right: 10px;
    font-size: 1.1em;
  }
  .sign-up-button-md{
    width: 40%;
    font-size: 1.1em;
  }

  /*============================== 
  display: none; on medium screens 
  ==============================*/

  .main-md > h1{
    display: none;
  }
  .game-container-md{
    display: none;
  }
  
  /*====================== 
  Medium screen containers 
  ======================*/

  .aside-md{
    width: 300px;
    order: 4;
    flex-direction: column;
    align-content: center;
    align-self: center;
  }
  .button-container-md{
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0;
  }
  .content-md{
    flex-direction: column;
  }
  .ft-md{
    order: 5;
  }
  .game-text-md{
    display: block;
    padding: 20px 15px 0 15px;
  }
  .main-md{
    width: 480px;
    height: 420px;
    border-radius: 10px;
    align-self: center;
    margin-top: 20px;
    order: 1;
  }
  .navigation-md{
    flex-direction: column;
    height: 300px;
    text-align: center;
    order: 0;
  }
  .score-tracker-md{
    justify-content: space-around;
    font-size: .62em;
  }
  .search-box-with-button-md{
    position: relative;
  }
  .sign-in-md{
    margin-top: 20px;
  }
  .subscribe-md{
    margin: 20px 0;
  }
}

@media only screen and (min-width:740px){

  /*========================== 
  intermediate size containers 
  ==========================*/

  .aside-int{
    flex-direction: row;
    justify-content: center;
    width: 100%;
    order: 2;
  }
  .navigation-int{
    flex-direction: row;
    height: 40px;
    line-height: 40px;
  }
  .score-tracker-int{
    justify-content: space-around;
    font-size: .8em;
  }
  .search-box-with-button-int{
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
  }
  .sign-in-int{
    margin-left: 10px;
    margin-top: 0;
  }
  .subscribe-int{
    margin: 0 0 0 10px;
  }
}

@media only screen and (min-width: 1024px){

  /*===================== 
  large screen typography 
  =====================*/

  .main-lg > h1{
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .game-text-lg{
    display: block;
    padding: 20px 80px 0 80px;
}

  /*================== 
  large screen buttons 
  ==================*/

  .sign-in-button-lg{
    background-color: #2b77e4;
    width: 40%;
    color: white;
    margin-right: 10px;
    font-size: 1.3em;
  }
  .sign-up-button-lg{
    width: 40%;
    font-size: 1.3em;
  }

  /*============================= 
  display: none; on large screens 
  =============================*/

  .iframe-lg{
    display: none;
  }

  /*===================== 
  large screen containers 
  =====================*/

  .aside-lg{
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    width: 300px;
    order: 1;
  }
  .button-container-lg{
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0;
  }
  .content-lg{
    flex-direction: row;
  }
  .game-container-lg{
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
  }
  .main-lg{
    width: 700px;
    height: 550px;
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    order: 2;
  }
  .navigation-lg{
    flex-direction: row;
    height: 40px;
    line-height: 40px;
  }
  .score-tracker-lg{
    flex-direction: row;
    justify-content: space-around;
    font-size: .8em;
    padding: 0 100px 0 100px;
  }
  .search-box-with-button-lg{
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
  }
  .sign-in-lg, .subscribe-lg{
    margin: 25px 0 0 0;
  }
}

@keyframes liveBlink{
  from{
    opacity: 100%;
  }
  80%{
    opacity: 100%;
  }
  95%{
    opacity: 0 ;
  }
  to{
    opacity: 0;
  }
}