/*======= 
CSS Reset 
=======*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
    padding: 0;
    margin: 0;
    border: 0;
}

/*===== 
Styling
=====*/

*{
  font-family: Arial, Helvetica, sans-serif;
}
aside{
  background-color: teal;
  display: inline-block;
  width: 200px;
  min-height: 400px;
}
main{
  background-color: white;
  display: inline-block;
  vertical-align: top;
  width: 60%;
  min-height: 400px;
}
footer{
  background-color: rgb(168, 168, 168);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  font-size: .8em;
  text-align: center;
  border-top: 1px solid gray;
}
img[src$="DSNN-Logo.png"]{
  width: 100px;
}
.wrapper{
  background-color: rgb(204, 204, 204);
  min-height: 100vh;
  /* display: grid; */
}
.live-scores{
  background-color: yellow;
  height: 50px;
}
.navbar{
  background-color: rgb(22, 22, 22);
  color: white;
  /* display: grid; */
  /* justify-content: space-around; */
  height: 40px;
  line-height: 40px;
}
.navbar > a{
  color: white;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}

@media only screen and (max-width: 480px){
  .nav-item-sm{
    width: 100%;
  }
  .nav-sm{
    height: 255px;
    text-align: center;
  }
  .ft-sm{
    position: static;
  }
}

@media only screen and (min-width: 481px){
  
}

@media only screen and (min-width: 1024px){
  
}