/*=========================================== 
This is for screen sizes from 740px to 1023px 
===========================================*/

@media only screen and (min-width:740px){

  /*=========================== 
  Link effect intermediate size 
  ===========================*/

  .my-hover-lg-int:hover{
    transform: scale(1.2);
  }

  /*========================== 
  intermediate size containers 
  ==========================*/

  .aside-int{
    flex-direction: row;
    justify-content: center;
    width: 100%;
    order: 2;
  }
  .score-tracker-int{
    justify-content: space-around;
    font-size: .8em;
  }
  .sign-in-int{
    margin-left: 10px;
    margin-top: 0;
  }
  .subscribe-int{
    margin: 0 0 0 10px;
  }
}